body {
    background-image: url('BG11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div {
    padding: 0px 500px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid grey;
    padding: 20px 40px;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-top: 5.5rem;
    border-radius: 15px;
}

form h2 {
    text-align: center;
    color: white;
}

form label {
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    margin-bottom: 13px;
}

form button {
    padding: 10px;
    background-color: rgb(219, 5, 5);
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(255, 104, 104);
}

form span {
    padding-bottom: 5px;
}

#output {
    font-size: 30px;
}

#a {
    display: none;
    padding: 10px 10px;
    border: white solid 1px;
    color: white;
    text-decoration: none;
    background-color: black;
    width: 60px;
    font-weight: bold;
}

#a:hover {
    color: black;
    background-color: white;
}

@media(max-width:500px) {
    div {
        padding: 100px 0px;
    }

    body {
        background-image: none;
        background-color: rgb(44, 44, 44);
    }
}